#weeklyContent {
  .btn-meal{
    margin-bottom: 5px;
    height: 50px;
    font-size: 13px;
    width: 150px;
    padding: 0px;
  }

  .tab-pane {
    color: #000;
  }

  .meal-icon{
    width: 48px;
    height: 48px;
    margin-right: 5px;
  }

  .meal-icon-md{
    width: 96px;
    height: 96px;
    margin-right: 5px;
  }
}

.curateNavs {
  margin-top: 10px;
  margin-bottom: 10px;
}
