.wrapper#customContent{ng: { controller: 'CustomCtrl'}}
  %section#form-section.section-padding
    .container
      .row
        .header-section
          %h2.pull-left
            Order by Ingredients
          .pull-right.curateNavs
            %ul.nav.nav-tabs.navbar-right
              %li.clickable.active
                %a Custom
              %li.clickable.nav-item
                = link_to 'Weekly', grocery_weekly_path
              %li.clickable.nav-item
                = link_to 'Daily', grocery_daily_path
      .row
        .table-responsive
          %table.table.table-bordered.table-striped.table-fixed
            %thead
              %tr
                %th Image
                %th Product
                %th Unit Price
                %th Quantity
                %th
            %tbody
              - ingredient_list.each do |ingredient|
                %tr
                  %td
                    .in
                      = image_tag "ingredients/#{ingredient}.jpg", width: 50, height: 50
                  %td=ingredient
                  %td= 'PHP ' + rand(50..150).to_s + '/kg'
                  %td
                    %div.input-group.input-group-sm.top10
                      %input.form-control{type: 'number', value: 1}
                      %span.input-group-addon kg
                  %td
                    %button.btn.btn-default
                      Add To Cart
      .row
        .col-md-6
          Total:
          %span PHP 600.00
        .col-md-6
          = link_to 'Checkout', cart_path, class: 'btn btn-green btn-primary pull-right'
