.wrapper{ng: { controller: 'DailyCtrl'}}
  %section#form-section.section-padding
    .container
      .row
        .header-section
          %h2.pull-left
            Choose Your Meal for a Day
          .pull-right.curateNavs
            %ul.nav.nav-tabs.navbar-right
              %li.clickable
                = link_to 'Custom', grocery_custom_path
              %li.clickable.nav-item
                = link_to 'Weekly', grocery_weekly_path
              %li.clickable.nav-item.active
                %a Daily
      .row
        %table.table.table-bordered
          %tr
            %th.text-center Meal 1
            %th.text-center Meal 2
            %th.text-center Meal 3

          %tr
            %td.td-meal#tdMeal1{data: {toggle: 'popover', trigger: 'hover', container: 'body', html: true}}
              - meal = random_meal(1).first
              %button.btn.btn-green.btn-block.btn-meal-md#btnMeal1{data: {toggle: '', target: '#searchMealModal'}}
                = meal[:name]

              .meal-info.text-center.top10
                .avatar.meal-icon-md
                  = image_tag meal[:img_url], width: 93, height: 93, class: 'avatar'
                %span
                  PHP
                  = meal[:price]
              %div.input-group.input-group-sm.top10
                %input.form-control{type: 'number', value: 1}
                %span.input-group-addon servings




            %td.td-meal#tdMeal2{data: {toggle: 'popover', trigger: 'hover', container: 'body', html: true}}
              - meal = random_meal(1).first
              %button.btn.btn-green.btn-block.btn-meal-md#btnMeal2{data: {toggle: '', target: '#searchMealModal'}}
                = meal[:name]

              .meal-info.text-center.top10
                .avatar.meal-icon-md
                  = image_tag meal[:img_url], width: 93, height: 93, class: 'avatar'
                %span
                  PHP
                  = meal[:price]
              %div.input-group.input-group-sm.top10
                %input.form-control{type: 'number', value: 1}
                %span.input-group-addon servings

            %td.td-meal#tdMeal3{data: {toggle: 'popover', trigger: 'hover', container: 'body', html: true}}
              - meal = random_meal(1).first
              %button.btn.btn-green.btn-block.btn-meal-md#btnMeal3{data: {toggle: '', target: '#searchMealModal'}}
                = meal[:name]

              .meal-info.text-center.top10
                .avatar.meal-icon-md
                  = image_tag meal[:img_url], width: 93, height: 93, class: 'avatar'
                %span
                  PHP
                  = meal[:price]
              %div.input-group.input-group-sm.top10
                %input.form-control{type: 'number', value: 1}
                %span.input-group-addon servings
      .row
        .col-md-6
          Total:
          %span PHP 600.00
        .col-md-6
          = link_to 'Checkout', cart_path, class: 'btn btn-green btn-primary pull-right'
#searchMealModal.modal.fade{role: 'dialog'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: {dismiss: 'modal'}} &times;
        %h4.modal-title Set Meal
      .modal-body
        .input-group
          %input.form-control{type: 'text', placeholder: 'Search Meal'}
          %span.input-group-addon
            %i.fa.fa-search
        - meals = random_meal(6)
        .list-group.top5
          - meals.each do |meal|
            %a.list-group-item{href: 'javascript:;', data: {dismiss: 'modal'}}
              .avatar.meal-icon
                = image_tag meal[:img_url], width: 53, height: 53, class: 'avatar'
              = meal[:name].to_s + ' - PHP ' + meal[:price].to_s

-#popover
.row#popoverTemplate.hide
  .header-section
    %h4#mealName
  %ul.nav.nav-tabs
    %li.clickable.active
      %a#ingredientsTab{data: {toggle: 'tab'}, href: '.ingredients'} Ingredients
    %li.clickable.nav-item
      %a#directionsTab{data: {toggle: 'tab'}, href: '.directions'} Directions
  .tab-content
    #ingredients.tab-pane.in.active.ingredients
      %ul.top5{style: 'list-style-type: circle'}
        %li 2 tablespoons extra-virgin olive oil
        %li 1 small onion, chopped
        %li 1 carrot, chopped
        %li 1 shallot, minced
        %li 3 1/2 ounces prosciutto, chopped
        %li 11 ounces ground pork
        %li 11 ounces ground beef
        %li 1 teaspoon ground nutmeg
        %li 1/2 teaspoon ground cinnamon
        %li salt to taste
    #directions.tab-pane.directions
      %ul.top5{style: 'list-style-type: circle'}
        %li Heat olive oil in a saucepan over medium heat; cook and stir onion, carrot, shallot, and prosciutto until onion is translucent and prosciutto releases some fat, about 10 minutes. Add pork and beef; season with 1 teaspoon nutmeg, cinnamon, and salt to taste. Cook and stir over medium-high heat until browned and crumbly, about 10 minutes.
        %li Pour red wine over meat mixture; increase heat and cook until wine evaporates, about 3 minutes. Add tomatoes and mix well; bring to a boil, cover, reduce heat, and simmer, stirring occasionally, until tomatoes break down and flavors of Bolognese sauce have combined, 1 1/2 to 2 hours.
        %li Melt butter in a saucepan over medium-low heat; add flour. Whisk vigorously until mixture is smooth. Pour in milk and cook, stirring occasionally, over medium heat until white sauce thickens enough to cover the back of a spoon, about 10 minutes; season with 1/2 teaspoon nutmeg, salt, and pepper.
        %li Bring a large pot of lightly salted water to a boil. Cook lasagna noodles in the boiling water, stirring occasionally until tender yet firm to the bite, about 8 minutes. Drain and run under cold water to stop the cooking process. Lay noodles on a clean towel and pat dry.
        %li Pour a ladleful of Bolognese sauce and a ladleful of white sauce over the bottom of a 9x13-inch baking dish; top with 3 or 4 lasagna noodles. Cover noodles with 1/3 of the white sauce and 1/3 of the Bolognese sauce. Sprinkle some of the Parmesan cheese on top; cover with lasagna noodles. Repeat layers, ending with white sauce and Parmesan cheese.
        %li Bake in the preheated oven until bubbling and top is golden brown, 30 to 40 minutes. Let stand 3 to 4 minutes before slicing.
