.modal.fade#login{role: 'dialog'}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{type: 'button', 'data-dismiss' => 'modal'} &times;
        %h4.modal-title.text-center.form-title Login
      .modal-body.padtrbl
        .login-box-body
          %p.login-box-msg
            Sign in to start your session
          .form-group
            - #%form#loginForm
            = form_for User.new,  url: user_session_path do |f|
              .form-group.has-feedback
                -#%input.form-control#loginid{placeholder: 'Username', type: 'text', autocomplete: 'off'}
                = f.email_field :email, autofocus: true, class: 'form-control', id: 'loginid', placeholder: 'Email'
              .form-group.has-feedback
                -#%input.form-control#loginpsw{placeholder: 'Password', type: 'password', autocomplete: 'off'}
                = f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'Password', id: 'loginpsw'
              .row
                .col-xs-12
                  .checkbox.icheck
                    %label
                      %input#loginrem{type: 'checkbox'}
                        Remember Me
                .col-xs-12
                  = f.submit 'Sign In', class: 'btn btn-green btn-block btn-flat'
      .modal-footer.sign-modal-footer
        -#New to Tabang?
        -#= link_to '#' do
          %span.clickable Sign up
        %ul.list-block.links
          %li
            Don't have an account?
            = link_to 'javascript:void(0)' do
              %span.clickable{data: {toggle: 'modal', target: '#signup', dismiss: 'modal'}} Sign up for free
