.modal.fade#signup{role: 'dialog'}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{type: 'button', 'data-dismiss' => 'modal'} &times;
        %h4.modal-title.text-center.form-title Sign Up
      .modal-body.padtrbl
        .login-box-body
          -#%p.login-box-msg
            -#Sign in to start your session
          .form-group
            = form_for User.new,  url: user_registration_path do |f|
              .form-group.has-feedback
                = f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Name'
              .form-group.has-feedback
                = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email'
              .form-group.has-feedback
                = f.text_field :contact_no, autofocus: true, class: 'form-control', placeholder: 'Contact No.'
              .form-group.has-feedback
                = f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'Password'
              .form-group.has-feedback
                = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control', placeholder: 'Confirm Password'
              .row
                .col-xs-12
                  = f.submit 'Sign up', class: 'btn btn-green btn-block btn-flat'
      .modal-footer.sign-modal-footer
        %ul.list-block.links
          %li
            Already have an account?
            = link_to 'javascript:void(0)' do
              %span.clickable{data: {toggle: 'modal', target: '#login', dismiss: 'modal'}} Login
