.modal.fade#confirmation{role: 'dialog'}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{type: 'button', 'data-dismiss' => 'modal'} &times;
        %h4.modal-title.text-center.form-title Tabang is on its Way!
      .modal-body.padtrbl
        .meal-info.text-center.top10
          .avatar.meal-icon-md
            = image_tag 'jhonny.png', width: 93, height: 93, class: 'avatar'
        #ratingWrapper
          #rating
            %ul#rating.tex-center
              - 5.times do
                %li.clickable
                  %i.fa.fa-star.fa-2x
        .text-center
          %h4
            Meet Juan dela Cruz
          .text-center.quote
            %p.small-text
              He will be the one to do cleaning in your home. You could communicate with him to give a much more specific job description.
        -#.row
          -#.banner-text.text-center
            -#.text-border
              -#%h2.text-dec
                -#Tabang is on its way!
            .intro-para.text-center.quote
              -#%p.big-text
                -#Book a top-rated handyman. From furniture assembly to TV mounting, we'll take care of your home maintenance needs.
              %p.small-text
                ETA: 5 mins
        .row
          .col-xs-12
            = link_to 'Contact', root_url, class: 'btn btn-green btn-block btn-flat'
