.modal.fade#task_details{role: 'dialog'}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{type: 'button', 'data-dismiss' => 'modal'} &times;
        %h4.modal-title.text-center.form-title Task Details
      .modal-body.padtrbl
        .form-group
          %label Enter Task Location
          %input.form-control
        .form-group
          %label Other Task Details:
          %texttextarea.form-control
        .form-group
          %label How many hours will you need Tabang?
          %input.form-control{type: 'number'}
        .row
          .col-xs-6
            %label Price: ??
          .col-xs-12
            %button.btn.btn-green.btn-block.btn-flat{data: {target: '#confirmation', toggle: 'modal', dismiss: 'modal'}}
              Confirm
