.wrapper#cartContent{ng: { controller: 'CartCtrl', init: 'init()' }}
  %section#form-section.section-padding
    .container
      .row
        .header-section.text-center
          %h2 Cart
      .row
        .table-responsive
          %table.table.table-bordered.table-striped.table-fixed
            %thead
              %tr
                %th Product
                %th Unit Price
                %th Quantity
                %th Total Price
                %th
            %tbody
              - ingredient_list.sample(5).each do |ingredient|
                %tr
                  %td
                    .avatar
                      = image_tag "ingredients/#{ingredient}.jpg", width: 53, height: 53, class: 'avatar'
                    %span
                      =ingredient
                  %td= 'PHP ' + rand(50..150).to_s + '/kg'
                  %td
                    %div.input-group.input-group-sm.top10
                      %input.form-control{type: 'number', value: 1}
                      %span.input-group-addon kg
                  %td
                    PHP 333
                  %td
                    %button.btn.btn-default
                      Remove 
      .row
        .col-md-6
          Total:
          %span PHP 600.00
        .col-md-6
          = link_to 'Checkout', location_path, class: 'btn btn-green btn-primary pull-right'
