.wrapper#wrapper{ng: { controller: 'HomeCtrl', init: 'init()'}}
  <!--Banner-->
  .banner
    .bg-color
      .container
        .row
          .banner-text.text-center
            .text-border
              = image_tag 'logo.png'
              -#%h2.text-dec
                -#= image_tag 'logo.png'
                -#Convenience at a Tap
            .intro-para.text-center.quote
              -#%p.big-text
                -#Book a top-rated handyman. From furniture assembly to TV mounting, we'll take care of your home maintenance needs.
              -#%p.small-text
          .col-lg-12
            .cta-2-form.text-center
              %form
                %input.typeahead#searchHelp{ placeholder: 'What do you need help with?' }
                %button#btnSearchHelp{ type: 'submit', value: ''}
                  %i.fa.fa-search
  <!-- Services -->
  %section#services.section-padding
    .container
      .row
        .header-section.text-center
          %h2 Services
          -#%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem nesciunt vitae,<br> maiores, magni dolorum aliquam.
          -#%hr.bottom-line
    .container
      .row
        .col-md-4.col-sm-6.padleft-right
          %figure.imghvr-fold-up.service-figure.new_cleaning_icon
            %figcaption
              %h4 Laundry
              %p We wash clothes and linens!
              %span.lead PHP 40/kg
              = image_tag 'cleaning_and_laundry.jpg', class: 'service-img'
        .col-md-4.col-sm-6.padleft-right
          %figure.imghvr-fold-up.service-figure.cleaning_icon
            %figcaption
              %h4 Unit Cleaning
              %p Cleaning services!
              %span.lead PHP 120/hr
              = image_tag 'repair_and_maintenance.jpg', class: 'service-img'
        .col-md-4.col-sm-6.padleft-right
          %figure.imghvr-fold-up.service-figure.new_grocery_icon
            %figcaption
              %h4 Grocery
              %p We can shop for you.
              %span.lead PHP 80/session
              = image_tag 'shopping.jpg', class: 'service-img'
        .col-md-4.col-sm-6.padleft-right
          %figure.imghvr-fold-up.service-figure.new_manipedi_icon
            %figcaption
              %h4 Manicure and Pedicure
              %p A cosmetic treatment of the hands involving cutting, shaping, and often painting of the nails.
              %span.lead PHP 120/session
              = image_tag 'salon_services.jpg', class: 'service-img'
        .col-md-4.col-sm-6.padleft-right
          %figure.imghvr-fold-up.service-figure.new_salon_icon
            %figcaption
              %h4 Salon Services
              %p From haircuts to hair dyes!
              %span.lead PHP 100/hair trim
              %br
              %span.lead PHP 100/hair dye
              = image_tag 'minor_alterations.jpg', class: 'service-img'
        .col-md-4.col-sm-6.padleft-right
          %figure.imghvr-fold-up.service-figure.new_student_assistance_icon
            %figcaption
              %h4 Personal Assistance
              %p Research Assistance, Student Assistance and Clerical Assistance.
              %span.lead PHP 50/hr
              = image_tag 'legal_aide.jpg', class: 'service-img'
    <!-- How It Works-->
  %section.section-padding#how
    .container
      .row
        .header-section.text-center
          %h2 How It Works
          %p It's as easy as 1, 2, 3...
          %hr.bottom-line
        .feature-info
          .fea
            .col-md-4
              .heading.pull-right
                %h4 1. Describe the task
                %p Choose from a variety of home services and select the day and time you'd like a qualified Tasker to show up. Give us the details and we'll find you the help.
              .fea-img.pull-left
                %i.fa.fa-pencil-square-o
          .fea
            .col-md-4
              .heading.pull-right
                %h4 2. Get matched
                %p Select from a list of qualified and fully vetted Taskers for the job. Choose Taskers by their hourly rate and start chatting with them right in the app.
              .fea-img.pull-left
                %i.fa.fa-users
          .fea
            .col-md-4
              .heading.pull-right
                %h4 3. Get it done
                %p Just like that, your Tasker arrives and gets the job done. When your task is complete, payment will happen seamlessly and securely through the app.
              .fea-img.pull-left
                %i.fa.fa-check-square-o


  - unless current_user
    = render 'partials/sign_in_modal'
    = render 'partials/sign_up_modal'
    = render 'task_details_modal'
    = render 'confirmation_modal'
  <!--Footer-->
  %footer.footer#footer
    .container.text-center
      %ul.social-links
        %li
          %a
            %i.fa.fa-twitter.fa-fw
        %li
          %a
            %i.fa.fa-facebook.fa-fw
        %li
          %a
            %i.fa.fa-google-plus.fa-fw
        %li
          %a
            %i.fa.fa-dribbble.fa-fw
        %li
          %a
            %i.fa.fa-linkedin.fa-fw
      ©2017 Tabang. All rights reserved
