.wrapper{ng: { controller: 'LocationCtrl'}}
  %section#form-section.section-padding
    .container
      .row
        .header-section.text-center
          %h2 Where do you need help?
    .container
      .row
        #form-container
          %form#location-form.center-form
            #step-one.form-step
              .form-group
                %label Street Address
                %input.form-control{placeholder: 'Street Address'}
              .form-group
                %label Apt, Suite, Bldg. (optional)
                %input.form-control{placeholder: 'Apt, Suite, Bldg. (optional)'}
              .form-group
                %label City
                %select.form-control
                  %option Cebu
                  %option Lapu-Lapu
                  %option Mandaue
              .step-navigator
                %button.btn.btn-green.btn-flat.pull-right{'ng-click' => 'showFormTwo()'}
                  Next
            #step-two.form-step{style: 'display: none'}
              %div#map-container{'map-lazy-load' => 'https://maps.google.com/maps/api/js?key=AIzaSyCziK9432fcl47DuauH6xf1SyGh7s0U_1g'}
                .centerMarker
                %ng-map{center: '10.3157, 123.8854', zoom: '14'}
              %br
              %p
                Drag map to change location.
              %br
              .step-navigator
                %button.btn.btn-green.btn-flat.pull-left{'ng-click' => 'showFormOne()'}
                  Back
                = link_to 'Continue', task_details_path, class: 'btn btn-green btn-flat pull-right'

