.wrapper#taskDetailsContent{ng: { controller: 'TaskDetailsCtrl', init: 'init()' }}
  %section#form-section.section-padding
    .container
      .row
        .header-section.text-center
          %h2 Fill out Task Details
    .container
      .row
        #form-container
          %form#location-form.center-form
            .form-group
              %label TELL US ABOUT YOUR TASK
              %textarea.form-control{placeholder: 'EXAMPLE: We have some laundry that needs cleaning.', rows: 5}
            .form-group
              %label Task Date &amp; Time
              .dropdown
                %a.dropdown-toggle{role: 'button', href: '#', data: { toggle: 'dropdown'}, id: 'dropdown2'}
                  .input-group
                    %input.form-control{'data-ng-model' => 'data.task_date'}
                    %span.input-group-addon
                      %i.glyphicon.glyphicon-calendar
                %ul.dropdown-menu{role: 'menu', 'aria-labelledby' => 'dLabel'}
                  %datetimepicker{'data-ng-model' => 'data.task_date', 'data-datetimepicker-config' => "{ dropdownSelector: '#dropdown2' }"}


            .step-navigator
              %button.btn.btn-green.btn-block.btn-flat{data: {target: '#confirmation', toggle: 'modal', dismiss: 'modal'}}
                Ask for Tabang!

  = render 'confirmation_modal'
