//Banner
.banner {
  background: image-url('bg-banner.jpg') no-repeat center top;
  //background-image: image-url("bg-banner.jpg");
  background-size: cover;
  min-height: 580px;
  position: relative;
}

//@media (min-width: 20px) and (max-width: 450px) {
  //.typeahead {
    //padding: 13px 10px;
    //font-size: 10px;
    //min-width: 187px;
  //}
//}

//.twitter-typeahead,
.typeahead,
.tt-query,
.tt-hint,
#searchHelp{
  border: 0px solid #CCC;
  padding: 13px 40px;
  font-size: 18px;
  color: #2b5d83;
  font-weight: 100;
  min-width: 330px;
  margin-left: -4px;
  margin-bottom: 2px;
  //border: 1px solid #5fcf80;
  border: 1px solid #18500f;
  background-color: rgb(247, 247, 247);
  border-radius: 30px 0px 0px 30px;
}

@media (min-width: 20px) and (max-width: 450px) {
  #btnSearchHelp {
    font-size: 10px !important;
  }
  .typeahead,
  .tt-query,
  .tt-hint,
  #searchHelp{
    padding: 13px 10px  !important;
    font-size: 10px  !important;
    min-width: 187px !important;
  }
  .tt-menu {
    min-width: 187px !important;
  }
}

#btnSearchHelp {
  font-size: 18px;
  text-transform: capitalize;
  color: #fff;
  //background-color: #5fcf80;
  background-color: #18500f;
  border: 2px solid #333;
  padding: 14px 30px;
  margin-left: -4px;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  border-width: 1px 1px 1px 0px;
  border-radius: 0px 30px 30px 0px;
}

//Typeahad
.sb-results-item {
    background-color: white;
    text-align: left;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    background-color: white;

    a {
      padding: 0.75em 1.4em;
      display: block;
    }
}

.sb-results__results-item__img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-size: cover;
}

.media--object {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  display: flex;
}

.media--figure {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1.5em;
  position: relative;
}

.media--content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}

.babysitting_img {
  background-image: image-url('6_baby_sitting.jpg');
}

.service-figure{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 190px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.new_cleaning_icon {
  background-image: image-url('new_icons/cleaning.png');
}

.new_deliver_icon {
  background-image: image-url('new_icons/deliver.png');
}

.new_grocery_icon {
  background-image: image-url('new_icons/grocery.png');
}

.new_manipedi_icon {
  background-image: image-url('new_icons/manipedi.png');
}

.new_salon_icon {
  background-image: image-url('new_icons/salon.png');
}

.new_student_assistance_icon {
  background-image: image-url('new_icons/student_assistance.png');
}

.cleaning_icon {
  background-image: image-url('icons/cleaning_and_laundry.png');
}
.repair_icon {
  background-image: image-url('icons/repair_and_maintenance.png');
}
.shopping_icon {
  background-image: image-url('icons/shopping.png');
}
.salon_icon {
  background-image: image-url('icons/salon_services.png');
}
.alterations_icon {
  background-image: image-url('icons/minor_alterations.png');
}
.personal_assistance_icon {
  background-image: image-url('icons/personal_assistance.png');
}

.driving_icon {
  background-image: image-url('icons/driving.png');
}

.cooking_icon {
  background-image: image-url('icons/cooking.png');
}


.cleaning_img {
  background-image: image-url('1_cleaning_and_laundry.jpg');
}
.repair_img {
  background-image: image-url('2_repair_and_maintenance.jpg');
}
.shopping_img {
  //background-image: image-url('shopping.jpg');
  background-image: image-url('3_shopping.jpg');
}
.salon_img {
  //background-image: image-url('salon_services.jpg');
  background-image: image-url('5_salon_services.jpg');
}
.alterations_img {
  //background-image: image-url('minor_alterations.jpg');
  background-image: image-url('4_minor_alterations.jpg');
}
.legal_aide_img {
  background-image: image-url('legal_aide.jpg');
}

.driving_img {
  background-image: image-url('7_driving.jpg');
}

.cooking_img {
  background-image: image-url('8_cooking.jpg');
}

[class*=" imghvr-"] figcaption, [class^="imghvr-"] figcaption {
    //background-color: #5FCF80;
    background-color: #18500f !important;
}
[class*=" imghvr-"], [class^="imghvr-"] {
    //background-color: #5FCF80;
    background-color: #18500f !important;
    color: #fff;
}
.service-img {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100%;
  opacity: 0.15;
  filter: alpha(opacity=15); /* For IE8 and earlier */
  background-color: #ddd;
}
