#form-container{
  padding: 5px;
}

#map-container{
  //position:absolute;
  //left:0px;
  //top:0px;
  //bottom:0px;
  width: 100%;
  height: 100%;
  ng-map {
    height: 100%;
    width: 100%;
  }
}
.centerMarker{
  position:absolute;
  /*url of the marker*/
  background:url(http://maps.gstatic.com/mapfiles/markers2/marker.png) no-repeat;
  /*center the marker*/
  top:50%;left:50%;

  z-index:1;
  /*fix offset when needed*/
  margin-left:-10px;
  margin-top:-34px;
  /*size of the image*/
  height:34px;
  width:20px;

  cursor:pointer;
}
//#map-container:after {
    //width: 22px;
    //height: 40px;
    //display: block;
    //content: ' ';
    //position: absolute;
    //top: 50%; left: 50%;
    //margin: -40px 0 0 -11px;
    //background: url('https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi_hdpi.png');
    //background-size: 22px 40px; [> Since I used the HiDPI marker version this compensates for the 2x size <]
    //pointer-events: none; [> This disables clicks on the marker. Not fully supported by all major browsers, though <]
//}


#step-two{
  height: 400px;
  width: 600px;
}
.step-navigator{
  margin-top: 10px;
}

@media (max-width: 768px) {
  #form-container{
    padding: 3px;
  }
}

