#taskDetailsContent {
  #rating {
    display: table;
    margin: 0 auto;
    ul {
      list-style-type:none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      li {
        float: left;
        padding-right: 5px;
      }
    }
    padding-top: 5px;
    padding-bot: 5px;
  }
}
.fa-star {
  color: gold;
}
