body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.popover, .tooltip {
  z-index: 1060 !important;
}

@font-face {
  font-family: 'Roboto'
  //src: url('/assets/fonts/Roboto/KaushanScript-Regular.otf') format("truetype");
}
