.center-form{
  width: 600px;
  margin: 10px auto;
}

.top5{
  margin-top: 5px;
}
.top10{
  margin-top: 10px;
}

.avatar {
  align-items: center;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.table-fixed {
  width: 100%;
  tbody{
    overflow-y: auto;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .center-form{
    width: 250px;
    margin: 3px auto;
  }
}

