- if use_cdn?
  -# JQUERY
  = javascript_include_tag jquery_cdn_url

  -# BOOTSTRAP
  = stylesheet_link_tag bootstrap_cdn_url('css'), bootstrap_css_settings
  = javascript_include_tag bootstrap_cdn_url('js'), bootstrap_js_settings
  = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'

  -#ANGULAR JS
  = javascript_include_tag angular_cdn_url


- else
  = javascript_include_tag 'cdn', 'data-turbolinks-track': 'reload'
  = stylesheet_link_tag 'cdn', media: 'all', 'data-turbolinks-track': 'reload'

