%nav.navbar.navbar-default.navbar-fixed-top#header{role: 'navigation'}
  %div.container
    .navbar-header
      %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '#myNavbar'}}
        %span.icon-bar
        %span.icon-bar
          %span.icon-bar
      -#%a.clickable{class: 'brand'}
      = link_to '', root_path, class: 'brand'
    .collapse.navbar-collapse#myNavbar
      %ul.nav.navbar-nav.navbar-right
        %li= link_to 'Services', '#services'
        %li= link_to 'How It Works', '#how'
        - if current_user
          %li= link_to 'Log out', destroy_user_session_path, method: :delete
        - else
          %li= link_to 'Log in', '#', data: {target: '#login', toggle: 'modal'}
          %li.btn-trial= link_to 'Become a Tig', '#', data: {target: '#signup', toggle: 'modal'}
          -#%li.btn-trial= link_to 'Become a TIG', '#'
