<!doctype html>
%html{lang: 'en'}
  %head
    %meta{:charset => "UTF-8"}
    %meta{:name => "viewport", :content =>"width=device-width, initial-scale=1.0"}
    = csrf_meta_tags
    %title Tabang

    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans', media: 'all', 'data-turbolinks-track': 'reload'
    = render 'layouts/cdn_assets'

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    = yield :head
    = yield :extra_css
  %body
    = render 'layouts/top_navigation_bar'
    = yield
    = yield :extra_javascripts
